<%- include("includes/common-head"); -%>
<title>Dashboard</title>
</head>
  <body>
      <%- include("includes/nav"); -%>
    <div class="wrapper">
      <div class="menu-item">
          <a href="/expense/add">Add Expense</a>   
      </div>
      <div class="menu-item">
        <a href="/expense">View Expenses</a>
      </div>

      <!-- <h1>Add Expense</h1>
      <div class="form-container">
          <form action="">
              <div class="emp">
                  <div class="form-group">
                      <label for="">No. of Employees</label>
                      <input type="number" name="emps" onchange="addEmpFields(this)" placeholder="Enter No. of Employees" />
                  </div>
              </div>
              <div class="form-group">
                  <label for="">Amount</label>
                  <input type="text" name="amt" placeholder="Enter Amount" />
              </div>
              <div class="form-group">
                  <input type="submit" value="Add" />
              </div>
          </form>
      </div> -->
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>
