<%- include("includes/common-head"); -%>
<title>Expenses</title>
</head>
<body>
    <div class="wrapper">
        <h1>Expenses</h1>
        <table>
            <thead>
                <th>Sr. No.</th>
                <th>Expense Name</th>
                <th>Amount</th>
                <th>Added By</th>
                <th>Employee Nos.</th>
                <th>Approved</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>XYZ</td>
                    <td>20</td>
                    <td>Emp 5</td>
                    <td>2</td>
                    <td>No</td>
                    <td>
                        <button>Approve</button>
                        <button>Reject</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>